* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: sans-serif;
}

.headingBar {
    background-color: #3399cc;
}

.headingText {
    color: white;
    font-size: 60px;
    padding: 30px 0 30px 25px;
}

.navigationBar {
    background-color: #333333;
    display: inline-block;
    width: 100%;
}

.navigations {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0 10px 25px;
}

    .navigations a {
        text-decoration: none;
        color: white;
    }

    .navigations li {
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
    }

    .navigationBar img {
        position: absolute;
        right: 150px;
        padding-top: 8px;
    }
.contact {
    margin-Top: 20px;
}
.contactName {
    font-Size: 30px;
    font-Weight: bold;
    color: #333333;
}
.contactEditIcon {
    margin-Left: 35px;
    height: 15px;
    width: 15px;
}
.contactDeleteIcon {
    margin-Left: 20px;
    height: 15px;
    width: 15px;
}
.contact span {
        font-size:15px;
}

.middle {
    display: flex;
    flex-Flow: row wrap;
}

.middleLeft {
    display: "inline-Block"
}

.middleLeft p {
    margin: 30px 0 20px 20px;
    font-Size: 18px;
    font-Weight: bold;
}

.middleRight {
    margin-Left: 150px;
    margin-Top: 60px;
    display: flex;
    flex-Flow: row wrap;
    height: 50%;
    width: 40%;
}

.box {
    margin-left: 25px;
    color: #575555;
    cursor: context-menu;
}

.boxes {
    border: 1px solid #cecccc;
    width: 30vw;
    padding-left: 15px;
    cursor: context-menu;
}
    .boxes #bname {
        padding-Bottom: 5px;
        font-Size: 28px;
    }
    .boxes #bemail {
        margin-Left: 5px;
    }
    .boxes #bmobile {
        padding-Bottom: 5px;
        margin-Left: 5px;
    }

    .boxes h2 {
        font-weight: lighter;
    }

    .boxes:hover {
        background-color: #cee7f2;
    }

#viewBox {
    color: #414141;
}

    #viewBox form {
        font-weight: bold;
    }
